html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

#root {
  width: 100vw;
}

body {
  margin: 0;
  display: flex;
  background: #DDDDDD;
  align-items: center;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
